.topGridContainer {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "title title . . . . . . . . about beta map";
    width: 100%;
    height: 63px;
    background-color: rgb(195, 203, 214);
}

.title {
    grid-area: title;
    height: 30px;
    line-height: 30px;
    width: 147px;
    color: black;
    background-color: rgb(224, 218, 218);
    border: 3px dashed rgb(195, 203, 214);
    border-radius: 10px;
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 30px;
    margin: 10px;
    padding: 2px 5px 2px 5px;
}

.nav {
    text-align: center;
    height: 30px;
    width: 90px;
    color: black;
    line-height: 30px;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 30px; 
    margin: 10px 2px 10px 2px;
    border: 3px dashed rgb(195, 203, 214);
    border-radius: 10px;
    background-color: rgb(224, 218, 218);
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}
.about {
    grid-area: about;
}

.beta {
    grid-area: beta;
}

.map {
    grid-area: map;
    border: 3px dashed rgb(195, 203, 214);
    background-color: rgb(75, 74, 70);
    color: white
}

h1 {
    font-size: 20px;
}

#content {
    font-size: 14px;
}

.mapContent {
    background-image: url(rockwall.png);
    padding-top: 1px;
    padding-bottom: 10px;
    width: 100%;
    background-color:rgb(195, 203, 214);
    background-image: url(rockwall.png); 
    background-repeat: repeat-y;
    background-size: cover;
}

#topBar {
    display: flex;
    flex-flow: row;
    margin-right: 10%;
    height: 50px;
    margin: 0 11.2% 0 11.2%;
    justify-content: flex-start;
}

#gymSearch {
    width: 60%;
    border: 2px groove black;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 27px;
    padding: 2px 5px 2px 5px;
    border-radius: 17px;
}

.filter {
    width: 17.8%;
    margin-left: 15px;
    border: 2px groove black;
    background-color: rgb(224, 218, 218);
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 27px;
    border-radius: 17px;
    height: fit-content;
    z-index: 1;
}

.filterDrop {
    padding: 2px 5px 2px 5px;
    cursor: pointer;
    line-height: 42px;
    vertical-align: center;
}

.filterClick {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;
    width: 100%;
}
  
.filterDrop:after {
    content: '\25BC'; 
    font-size: 18px;
    color: black;
    float: right;
    vertical-align: center;
    line-height: 45px;
}

.active:after {
    content: "\25B2"; 
    font-size: 18px;
    color: black;
    float: right;
    vertical-align: center;
    line-height: 45px;
}

.days, .muls, .seas, .students, .walls, .boards, .facs, .regs {
    border-top: dashed 1px black;
    width: 100%;
    font-size: 18px;
    padding-left: 5px;
    margin: 0;
    line-height: 0px;
    display: flex;
    justify-content: space-between;
}

.dropDay {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    font-size: 18px;
    right: 0;
    position: absolute; 
    margin-left: 58.4%; 
    margin-right: 21.6%;
    background-color: rgb(206, 194, 194);
    border: 1px black solid;
    line-height: normal;
}

.d26, .d24, .d22, .d20, .d18 {
    margin: 0;
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
}

.d24, .d22, .d20, .d18 {
    border-top: 1px dashed black;
}

.days:hover .dropDay {display: block;}

.dropMul {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    font-size: 18px;
    right: 0;
    position: absolute; 
    margin-left: 58.4%; 
    margin-right: 21.6%;
    background-color: rgb(206, 194, 194);
    border: 1px black solid;
    line-height: normal;
}

.m20, .m18, .m16, .m14, .m12 {
    margin: 0;
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
}

.m18, .m16, .m14, .m12 {
    border-top: 1px dashed black;
}

.muls:hover .dropMul {display: block;}

.dropSea {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    font-size: 18px;
    right: 0;
    position: absolute; 
    margin-left: 58.7%; 
    margin-right: 21.3%;
    background-color: rgb(206, 194, 194);
    border: 1px black solid;
    line-height: normal;
    margin-top: 0;
}

.s120, .s100, .s80, .s60 {
    margin: 0;
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
}

.s100, .s80, .s60 {
    border-top: 1px dashed black;
}

.seas:hover .dropSea {display: block;}

.stuCheck {
    margin-top: 8px;
    margin-right: 10px;
}

.dropWall {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    font-size: 18px;
    right: 0;
    position: absolute; 
    margin-left: 65.5%; 
    margin-right: 14.5%;
    background-color: rgb(206, 194, 194);
    border: 1px black solid;
    line-height: normal;
    margin-top: 0;
}

.bou, .topr, .lea {
    margin: 0;
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
}

.topr, .lea {
    border-top: 1px dashed black;
}

.walls:hover .dropWall {display: block;}

.dropBoard {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    font-size: 18px;
    right: 0;
    position: absolute; 
    margin-left: 61.9%; 
    margin-right: 18.1%;
    background-color: rgb(206, 194, 194);
    border: 1px black solid;
    line-height: normal;
}

.moon, .kil, .tens {
    margin: 0;
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
}

.kil, .tens {
    border-top: 1px dashed black;
}

.boards:hover .dropBoard {display: block;}

.dropFac {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    font-size: 18px;
    right: 0;
    position: absolute; 
    margin-left: 60.8%; 
    margin-right: 19.2%;
    background-color: rgb(206, 194, 194);
    border: 1px black solid;
    line-height: normal;
}

.sho, .gym, .loc, .wor, .sau, .poo, .nin {
    margin: 0;
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
}

.gym, .loc, .wor, .sau, .poo, .nin {
    border-top: 1px dashed black;
}

.facs:hover .dropFac {display: block;}

.dropReg {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    font-size: 18px;
    right: 0;
    position: absolute; 
    margin-left: 60.35%; 
    margin-right: 19.65%;
    background-color: rgb(206, 194, 194);
    border: 1px black solid;
    line-height: normal;
}

.cen, .wes, .nor, .nore, .eas {
    margin: 0;
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
}

.wes, .nor, .nore, .eas {
    border-top: 1px dashed black;
}

.regs:hover .dropReg {display: block;}

.d26Check, .d24Check, .d22Check, .d20Check, .d18Check, .m20Check, .m18Check, .m16Check, .m14Check, .m12Check, .s120Check, 
.s100Check, .s80Check, s60Check, .bouCheck, .topCheck, .leaCheck, .mooCheck, .kilCheck, .tenCheck, .shoCheck, .gymCheck, 
.locCheck, .worCheck, .sauCheck, .pooCheck, .ninCheck, .cenCheck, .wesCheck, .norCheck, .noreCheck, .easCheck {
    margin-left: 10px;
}

.sort {
    width: 17.8%;
    margin-left: 15px;
    border: 2px groove black;
    background-color: rgb(224, 218, 218);
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 27px;
    border-radius: 17px;
    height: fit-content;
    z-index: 1;
}

.sortDrop {
    padding: 2px 5px 2px 5px;
    cursor: pointer;
    line-height: 42px;
    vertical-align: center;
}

.sortClick {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    display: flex;
    flex-direction: column;
    padding: 2px 5px 2px 5px;
}

.sortDrop:after {
    content: '\25BC'; 
    font-size: 18px;
    color: black;
    float: right;
    vertical-align: center;
    line-height: 45px;
}
  
.active:after {
    content: "\25B2"; 
    font-size: 18px;
    color: black;
    float: right;
    vertical-align: center;
    line-height: 45px;
}

#searchUl {
    display: flex;
    width: 49%;
    flex-flow: wrap;
    height: auto;
    margin: 5px 37.5% 0px 11.1%;
    padding: 2px 5px 5px 0;
    overflow: hidden;
}

#searchUl li {
    list-style-position: inside;
    list-style: none;
    flex-direction: row;
    border: 2px solid black;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 18px;
    padding: 2px 5px 2px 5px;
    background-color: white;
    margin: 0 5px 5px 0;
    overflow: hidden;
    cursor: pointer;
}

#googleMap {
    width: 75.8%;
    height: 650px;
    opacity: 83%;
    padding: 10px;
    border: 2px black solid;
    border-radius: 10px;
    margin: 0 auto 0 auto;
}

#content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    font-size: 14px;
}

.pad {
    background-image: url(pad.png);
    height: 50px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}